@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

 <!-- Header -->
    <header class="masthead" style=" background-image: url('../images/home-bg.jpg')">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                         
                            <h1>@Model.Value("siteTitle")</h1>
                            <span class="subheading">@Model.Value("mainContent")</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </header>
  
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
          @Html.Partial("ListBlogItems")
      
  
        </div>
       
        </div>
 
  </section>

  
 
    
  <!-- Image Showcases -->
  <section class="showcase mt-5 mb-5">
    <div class="container text-center">
            <h2 class="m-4">Our projects</h2>
        <div class="row">
                 @Html.Partial("ListNewestProjects")
        </div>
   
      </div>
    </div>
  </section>