@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Sitemap>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<body>
      <div class="container">
       
               <h1>Sitemap</h1> 
   
      <div class="row">
        <div>
              @Umbraco.RenderMacro("Sitemap") 
        </div>
  
     </div>
     </div>
</body>
